// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
@font-face {
  font-family: "Simply Rounded";
  src: font-url("SimplyRounded.ttf") format("opentype"), font-url("SimplyRoundedBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Garamond";
  src: font-url("GaramondPremierProDisplay.otf") format("opentype"), font-url("GaramondPremierProDisplay.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: font-url("Karla-Regular") format("opentype"), font-url("Karla-Regular") format("opentype");
  font-weight: normal;
  font-style: normal;
}
