<!-- LAPTOP VERSION -->
<div class="hide-on-small" style="height: 540px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
  <div class="container d-flex align-items-center justify-content-center" style="height: 500px">
    <div class="text-center">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <h1 class="ml2" style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: center">Interior Design</h1>
      <h1 class="ml3" style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: center">Branding</h1>
      <h1 class="ml4" style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: center">Web Development</h1>
      <%= link_to "CONTACT US", "", class:"btn btn-transparent-bold-white mt-5"  %>
    </div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large" style="height: 360px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
  <div class="container d-flex align-items-center justify-content-center" style="height: 360px">
    <div class="text-center">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
      <h2 class="ml2" style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: center">Interior Design</h2>
      <h2 class="ml3" style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: center">Branding</h2>
      <h2 class="ml4" style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: center">Web Development</h2>
      <%= link_to "CONTACT US", "", class:"btn btn-transparent-bold-white mt-5"  %>
    </div>
  </div>
</div>
<div class="container my-5 py-4">
  <h3 class="text-center pb-4">About Us</h3>
  <p class="text-center my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a doloremque sequi rerum, architecto officiis quaerat est doloribus aperiam excepturi reprehenderit voluptas sapiente officia amet. Quo officia hic aspernatur! Blanditiis.</p>
  <p class="text-center my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, a doloremque sequi rerum, architecto officiis quaerat est doloribus aperiam excepturi reprehenderit voluptas sapiente officia amet. Quo officia hic aspernatur! Blanditiis.</p>
</div>
<%= render 'shared/interior_design' %>