.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 24px;
  width: 24px;
  background: rgba(0,0,0,.2);
  border-radius: 50%;
  // outline: black;
  // background-size: 100%, 100%;
  // border-radius: 50%;
  // border: 1px solid black;
  // background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 16px;
  color: white;
   font-weight: bolder;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 16px;
  color: white;
  font-weight: bolder;
}
